{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Interests
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests %}

      {% if interest.link %}
      <li><a href="{{ interest.link }}">{{ interest.item }}</a></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>
<p style="margin-top: 5.5em", align=right>Updated December 1, 2024</p>
</div><!--//interests-->
{% endif %}
